@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  background-color: #ececec;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  overflow: hidden
}
a {
  text-decoration: none;
}
span,p,h1,h2,h3,h4,h5,h6{
  cursor: default;
}
.clearfix{
  display: inline-block;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*
 * LogIn
 */
.form-signin{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  align-items: center;
  /*margin-top: -50px;*/
}
.form-signin h1{
  text-align: center;
  color: #c2c2c2;
  font-weight: 300;
  /*text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);*/
}
.form-signin label{
  display: none;
}
.form-signin input{
  position: relative;
  display: block;
  box-sizing: border-box;
  height: auto;
  padding: 15px 20px;
  font-size: 16px;
  width: 80%;
  margin: 10px auto;
  border-radius: 40px;
  color: #6d6d6d;
  border: solid 1px rgba(0, 0, 0, 0.0);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.form-signin input:focus{
  z-index: 2;
  outline-width: 0;
  /*box-shadow: 0px 1px 5px rgba(46, 229, 157, 0.4);*/
  border: solid 1px rgba(46, 229, 157, 0.4);
}
.form-signin button{
  position: relative;
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #fff;
  height: auto;
  padding: 15px 20px;
  font-size: 18px;
  width: 80%;
  margin: auto;
  border-width: 0;
  border-radius: 40px;
  color: #6d6d6d;
  margin-top: 50px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.form-signin button:hover{
  z-index: 2;
  outline-width: 0;
  background-color: #2EE59D;
  box-shadow: 0px 8px 15px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-3px);
}
/*
 * Icons
 */
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
/*
 * Navbar
 */
.header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.header button {
  height: 32px;
  width: 32px;
  background-color: rgba(255, 255, 255, .2);
  vertical-align: center;
  font-size: 16px;
}

.header .logo {
  position: fixed;
  font-size: 18px;
  color: rgba(255, 255, 255, .4);
  text-decoration: none;
  transition: 0.4s;
  text-align: center;
  width: 100%;
  left: 0;
  line-height: 40px;
}

.header .logo:hover {
  color: rgba(255, 255, 255, .8);
  text-align: center;
}

.header .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  height: 32px;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .2);
  border-color: rgba(255, 255, 255, .2);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.home-container{
  min-height: calc(100vh-40px);
}
.home-sticky-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
/*
 * Sidebar
 */
.home-left-sidebar-container {
  width: 210px;
  margin-top: 40px;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .home-left-sidebar-container {
    position: -webkit-sticky;
    position: sticky;
  }
}
.home-left-sidebar-container ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.home-left-sidebar-container li{
  height: 32px;
  margin-top: 4px;
  vertical-align: center;
  line-height: 32px;
  border-radius: 3px;
  padding-left: 12px;
  transition: all 0.3s ease 0s;
}
.home-left-sidebar-container li.active {
  background-color: rgba(0, 0, 0, 0.08);
}
.home-left-sidebar-container li.active .feather{
  color: inherit;
}
.home-left-sidebar-container li:hover{
  background-color: rgba(0, 0, 0, 0.04);
  color: inherit;
}
.home-left-sidebar-container li.active:hover{
  background-color: rgba(0, 0, 0, 0.08);
}
.home-left-sidebar-container a {
  font-weight: 600;
  color: #777;
  transition: all 0.3s ease 0s;
}
.home-left-sidebar-container a .feather {
  margin-right: 4px;
  color: #999;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  transition: all 0.3s ease 0s;
}
.home-left-sidebar-container li:hover .feather{
  color: inherit;
}
.home-left-sidebar-container-heading{
  font-size: .75rem;
  text-transform: uppercase;
  color: rgba(0,0,0,0.25);
}

.content-heading{
  font-size: 20px;
  margin: 0;
  color:#555;
}
.content-main{
  margin-top: 40px;
  width: 800px;
}